<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>597260972865-ghdbrt9jpr9fk64a187e8uc3s1gpjd6h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597260972865-ghdbrt9jpr9fk64a187e8uc3s1gpjd6h</string>
	<key>API_KEY</key>
	<string>AIzaSyDoZQ6i2FEg0Qnyxs29cqkezKzZaA9vyDo</string>
	<key>GCM_SENDER_ID</key>
	<string>597260972865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.eventmobile</string>
	<key>PROJECT_ID</key>
	<string>eventmobile-fd2c1</string>
	<key>STORAGE_BUCKET</key>
	<string>eventmobile-fd2c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597260972865:ios:d57aeb23623be4f83127c0</string>
</dict>
</plist>